<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%- include("inc/styles.ejs") %> 
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Add Post</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="ovl">
            <div class="container">
                <h1 class="display-4">Nodejs Blog</h1>
                <p>Simple Nodejs & Expressjs Blog</p>
                <br>
                <a href="/addpost" class="btn btn-primary">
                  Add Blog Post
                </a>
            </div>
        </div>
    </header>

    <!-- blog-content -->
    <section class="section">
        <div class="container">
            <div class="boxes">
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </section>

    <script src="index.js"></script>
    <%- include("inc/footer.ejs") %>
</body>
</html>